.version.index /* version checker */
{
	color: #0000EA;
	background-color: #94D4C0;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 312px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 162px;
	width: 100%;
	max-width: 1060px;
	margin-left: auto;
	margin-right: auto;
}

#pu94-3
{
	width: 91.7%;
	margin-left: 1.89%;
}

#u94-3
{
	z-index: 2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 1.03%;
	left: 35.19%;
}

#u97-3
{
	z-index: 5;
	min-height: 9px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	width: 0.73%;
	left: 34.47%;
}

#u103-21
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u220
{
	z-index: 29;
	border-style: solid;
	border-width: 8px;
	border-color: #3CC7E3;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
	width: 18.78%;
	margin-left: 33.68%;
}

#u220:hover
{
	border-color: #D03B65;
	min-height: 0px;
	width: 18.78%;
	margin: 9px 0px 0px 33.679245283018865%;
}

#u220_img
{
	width: 100%;
}

#u253-8
{
	z-index: 31;
	display: block;
	vertical-align: top;
	margin-top: 21px;
	position: relative;
	width: 21.04%;
	margin-left: 32.84%;
}

.html
{
	background: #5995CD url("../images/web.jpg") repeat center center scroll;
}

body
{
	position: relative;
	min-width: 320px;
}

